<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>kopkp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D84B17B1EB65C8D00BB953B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D84B1911EB65C8D00BB953B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D84B19C1EB65C8D00BB953B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
